<div class="row page">
  <div class="heading-area">
    <div class="container">
      <div class="content">
         <h1>About Our Bakery</h1>
         <h3>It's not just a piece of cake. It's a masterpiece of cake.</h3>
      </div>
    </div>
  </div>    
  <div class="container">
      <div class="content body-txt">
        <h2>What we do</h2>
        <p>We have been in the business for many years and we have a passion for sweet things, especially anything to 
        with cakes. Because of this, our founder members, Diana and Kevin, have put their resources, knowledge and 
        their shared interest together, and they decided to go ahead and form their own bakery.
        </p>
        <p>
            We bake cakes for all events or festivities. If you need that most amazing wedding cake for that very
            special day of your lives, then you are at the right place. We specialise in wedding cakes and they can 
            be decorated with plenty of creativity from our part.
        <p>
        <p> If there a communion coming up then contact us. And, for any sort of birthday cake, leaving party, 
        or any sort of occasion we can bake you the perfect cake. The only limit is our imagination to the way we 
        decorate our special occasion cakes, and we have abundance of it.
        </p>
        <p>
            If you have any queries, or find out a price for a cake that we don't have on display on our website then,
            please do not hesitate to contact, by email or phone.
        </p>
        <p>
            Yours
        </p>
        
        <p>We're passionate about cakes.</p>
    
    </div>
  </div>
</div>