  <div id="banner_contact"></div>
  
<div class="row page">
  <div class="heading-area">
    <div class="container">
      <div class="content">
         <h1 class="text-center">Contact Our Bakery</h1>
         <h3 class="text-center">It's not just a piece of cake. It's a masterpiece of cake.</h3>
      </div>
    </div>
  </div>    
  <div class="container">
      <div class="content body-txt">
        <h2>Drop us a line</h2>
        <p></p>
        <table>
            <tr>
                <th colspan="2">Office</th>
            </tr>
            <tr class="row1">
                <td class="col1">Phone</td>
                <td>1234567</td>
            </tr>
             <tr class="row2">
                <td class="col1">Email</td>
                <td>info@bakery.com</td>
            </tr>
            <tr class="row3">
                <td colspan="2">Opening hours</td>
            </tr>
            <tr class="row4">
                <td class="col1">Mon-Sat</td>
                <td>8.00 - 18.00</td>
            </tr>
            <tr class="row5">
                <td class="col1">Sun</td>
                <td>Closed</td>
            </tr>
        </table>
    
    </div>
  </div>
</div>