<% provide(:title, 'Home')%>

<div class="row">
<h1>Welcome to our Bakery</h1>
<br>

<h1>It's not just a piece of cake. It's a masterpiece of cake.</h1>

<%=image_tag("cover.jpg", alt: "Bakery", style:"width:100%;" ) %>
    <div class="col-xs-25 col-sm-12 col-md-6 col-lg-10 text-center">
    
     
      

<%= render 'layouts/categories' %>

</div>

<div class="mainCont"
   <h2>Search</h2> 
<%= render 'layouts/search' %>   
</div>


    
    

       