
     <% provide(:title, 'Home')%>


<div class="row">
  <div class="heading-area">
    <div class="container">
      <div class="content">
           <h1 class="text-center">Welcome to our Bakery</h1>
         <h3 class="text-center">It's not just a piece of cake. It's a masterpiece of cake.</h3>
      </div>
    </div>
  </div>  
  <p id="notice"><%= notice %></p>
  <div class="container">
      <div class="content body-txt">
         <p>We supply many types of cakes and some of the selection can be found in our categories section.
         There are many varities of cakes to be found, and we take great pride, in having freshly baked cakes 
         everytime. You'll find a lovely selection of divine cakes, in the categories.
         </p>
         <p> If you require that special or customised cake, we require only one weeks' notice in advance of
         your event. You can email details if there any special requirements like, gluten-free or nut-free cakes
         for those who might have allergies.
         Our email is: ...... and you can always gives us a call at and one of staff members will gladly
         be of your assistance.
         </p>
     </div>
     <div class="categories">
         <div class"container">
           <div class="content homeContent">
             <h2>Cakes Portfolio</h2> 
             <%= render 'layouts/categories' %>
           </div>
         </div>
  </div>
</div>

    
    

       