<div class="thankYou">

  
 
  <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
  <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
  <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
  
</div>

<div class="info_2">
  <h1 class="py-5 text-center">Thank You for your Order</h1> 
  
<H1 class="py-5 text-center">We will be very happy to see you again!</h1> 
 </div>
 