<div class="row">
   <div class="col-md-12 new">
    <div class"container">
       <div class="content">
        <h1>New Item</h1>

        <%= render 'form', item: @item %>
        
        <%= link_to 'Back', items_path %>
    </div>
   </div>
  </div>
</div>
