@import "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
@import "bootstrap";
.header {
    min-height: 10px;
    background-color: #555;
    background:grey;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    margin-bottom:10px;
    overflow:auto;
   
}

.header h1 {
    
    color: #ffffff;
    font-size: 80px;
    padding:15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color:rgb(255,255,255);
    background-color: #111;
    text-decoration:none;
}

/* modifications */
.row { 
    margin:0; /* fix needed for bootstrap */
}

/* footer */
.foot {
    min-height: 200px;
    background-color: rgb(70,20,70); /* edit footer*/
    padding: 40px 0;
}



/* items*/

.item-each { 
    min-height: 880px;
}
.item-each:nth-of-type(4n+1){
    clear: left;
}



/* modifications */
.row { 
    margin:0; /* fix needed for bootstrap */
}

.headTop {
    min-height: 10px;
    width: 100%;
    background-color: #422D1E;
    background-color: rgb(66,45,30);
}

.headTop ul { 
    width:40%;
    min-height: 0;
    float: right;
    color: white;
}
.headTop li {
    float: right;
}
.headTop li span { 
    color: rgba(255,255,255,0.8);
    width: 100px;
    float:left;
    display:block;
}
.headTop table { 
    float: right; 
    width: 40%; 
    min-width: 400px;
    margin-bottom: 5px;
    color: rgba(255,255,255,0.8);
}
.headTop table a { 
    color: rgb(200,220,220);
    font-size: 18px;
}
.headTop table a:link { 
    color: white;
}

.search-label { 
    display: block; 
    max-width: 200px;
    padding-top: 10px;
}
.search-label label { 
    margin-bottom: 0;
    
}
.search-input {
    min-width: 300px;
    padding-bottom: 5px;
}
.call-label {
    max-width: 50px;
}
.headTop .phone {
    padding-right: 0;
    padding-bottom: 10px;
    min-width: 70px;
    vertical-align: bottom;
}
.headTop .search {
    text-align: right;
    padding-right: 0;
}
.headBot {
    background-color:rgb(200,40,200);
    min-height: 120px;
}
.headBot h2 {
    color: white;
}
.headBot ul {
     padding-top: 20px;  
     background-color: rgba(0,0,0,0.2);
     width: 100%;
}
.headBot span {
    display: block;
    float: right;
    max-width: 50%;
}
.wrapper { 
    width: 100%;
}
.header { 
    margin-bottom:0;
}


.search-label { 
    display: block; 
    max-width: 200px;
    padding-top: 5px;
}
.search-label label { 
    margin-bottom: 0;
    
}
.search-input {
    min-width: 300px;
    padding-bottom: 5px;
}
.call-label {
    min-width: 90px;
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 10px;
}



.linksContainer {
    min-width: 540px;
}


/* home page */
#banner {
    background:url('/assets/cupcake_banner.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 320px;
    width: 100%;
    margin:0;
    padding:0;
    
}

.heading-area {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #eee;
}
.content {
    max-width: 840px;
    margin: 0 auto;
}
.body-txt {
    padding-top: 80px;
}
.content h1 { 
    color: #222277; /*edit*/
    font-size: 28px;
}
.content h2 { 
    color: #222277; /*edit*/
    font-size: 24px;
}
.content h3 { 
    color: #222277; /*edit*/
    font-size: 22px;
}




/* home categories + items page */

.categories, .itemsPage {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: hidden;
}

.cake {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;
    margin-bottom: 10px;
    background-color: #eee;
}

.cake img {
    border: 5px solid white;
}
.categories .content h3, .itemsPage .content h3 { 
    font-size: 18px;
    min-height: 60px;
}
.categories .content p, .itemsPage .content p { 
    color: #222277; /*edit*/
    min-height: 80px;
}

/*mods*/
.itemsPage .content p {
    min-height: 270px;
}
.itemsPage  .content .cake:nth-of-type(-n + 4) p {
    min-height: 360px;
}
.itemsPage  .content .cake:nth-of-type(5 + 6 + 7 + 8) p {
    min-height: 280px;
}



.imgHols {
    min-height: 300px;
    display: block;
   
}
.cake:nth-of-type(-n+4) .imgHols { /*1st 4 items*/
    min-height: 160px;
}
.cake:nth-of-type(4n + 1) {
    clear: both;                                
    background-color: #ddd;
}
.cake:nth-of-type(4n + 3) {
    background-color: #ddd;
}

/* buttons */

.categories .btn, .itemsPage .btn  {
    width: 70%;
    max-width: 150px;
}

.homeContent .cake {
    min-height: 140px;
}
.homeContent .cake:nth-of-type(3n + 1) {
    clear: both;
    min-height: 140px;
}
.homeContent .cake:nth-of-type(4n + 1) {
    clear: none; /* override */
}

/* about*/
.page {
    padding-bottom: 80px;
}

/* contact */
.content table {
    width: 50%;
    min-width: 200px;
    border: 1px solid gray;
    box-shadow: 1px 2px gray;
}

.content table td {
    font-weight: bold;
}
.col1 {
    min-width: 200px;
}
.content th {
    background-color: black;
    color: white;
    padding: 5px;
}
.content td {
    padding: 5px;
}

.row2, .row4, .row6 {
    background-color: #ddd;
}



/* alerts and messages */

/* no categories */
.info { 
    background-color: #e0c459;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}


.paymentthankyou {
    text-align: center;
    padding: 20px;
    
}

.paymentthankyou > h1 {
    
    
    
}

.cartContainer {
    padding:20px;
}

.cartContainer h2 {
   display: block;
    color: #555;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}



#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.cartcont2 {
     padding:10px;   
}

/*social media buttons*/
.social {
    display: flex;
	justify-content: space-between;
	 width: 200px;	
	float: right;
    
}   
.social__fb {
    cursor: pointer;
    content:url("social/logo_fb.png");
}

.social__tw {
    cursor: pointer;
    content:url("social/logo_twt.png");
}
.social__in {
    cursor: pointer;
    content:url("social/logo_inst.png");
}

.social__img:hover {
    opacity: 0.4;
}

.info_2 { 
    background-color: #e0c459;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: purple;
    font-family: "Brush Script MT", cursive;
     font-weight: bold;
   }
   
   
   .title { 
    background-color: #e0c459;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.thankYou { 
    /* The image used */
 
   background-image: url("thanks_2.jpg");
    /* Full height */
    width: 100%;
    height: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
   
}  