<% @categories.each do |category| %>
  <div class="col-md-4 text-center cake">
    <%= image_tag category.image, :class=>"img-circle float-left", :style=>"width:200px;height:200px;" %> 
    <h3><%= category.title %></h3>
    <p><%= category.descriprion %></p>
    <a href="/category/<%= category.title %>" class="btn btn-primary">View Category</a>
  </div>
<% end %>


