<%= form_tag("/search", :method => "post") do %>
<div class="search-label"><%= label_tag(:q, "Search For Cakes:") %></div>
<div class="search-input"><%= text_field_tag(:q) %>
<%= submit_tag("Search") %></div>

<% end %>